main.spacing-top
    .container.mb-5
        .row
            h4.d-flex.justify-content-center.text-white.text-decoration-underline About Your Instructor   
            .col-md-6(style="background-color: #eb4f00; height: 140vh;")
                .d-flex.justify-content-end
                    img.position-absolute.top-50.start-50.translate-middle(src="/img/headshot_placeholder.jpg", alt="placeholder")
                .d-flex.justify-content-center(style='margin-top:115%;')
                    img(src="/img/nra_badge.png", alt="nra badge")
            .col-md-6
                .d-flex.justify-content-center
                    //- img(src="/img/nra_instructor.png", alt="nra instructor")
                .p.text-white.text-start.display-6(style="margin-top: 85%;")
                    | Hi, I'm Clint Hooker. My journey with firearms began at the age of eight, sparking a lifelong passion for shooting sports. My career took me to the skies as an instructor pilot in the Army, where I discovered a love for teaching. This experience not only honed my skills but also deepened my commitment to sharing knowledge and helping others achieve their goals. Whether in the air or on the range, I strive to bring expertise and enthusiasm to everything I do.
                .d-flex.justify-content-start.mt-5
                    h4.text-white Certifications:
                .d-flex.justify-content-start.mt-5
                    ul.list-unstyled
                        li.list-unstyled
                            h5.text-white 
                                | NRA Basic pistol instructor 
                        li.list-unstyled
                            h5.text-white 
                                | NRA CCW Instructor
                        li.list-unstyled
                            h5.text-white
                                | NRA Chief Range Safety Officer (CRSO)
                        