main.spacing-top
    .container.mb-5
        .row
            h4.d-flex.justify-content-center.text-white.text-decoration-underline About Your Instructor   
            .col-md-6(style="background-color: #eb4f00; height: 140vh;")
                .d-flex.justify-content-end
                    img.position-absolute.top-50.start-50.translate-middle(src="/img/headshot_placeholder.jpg", alt="placeholder")
                //- .d-flex.justify-content-center(style='margin-top:115%;')
                //-     img(src="/img/nra_badge.png", alt="nra badge")
            .col-md-6
                .d-flex.justify-content-center
                    //- img(src="/img/nra_instructor.png", alt="nra instructor")
                .p.text-white.text-start.display-6(style="margin-top: 85%;")
                    | My name is Clint Hooker, and I've been passionate about pistol shooting since I was 10 years old. After joining the US Army and returning home from combat, I was fortunate enough to become an Instructor Pilot, where I discovered my love for teaching. This passion for instructing others perfectly complements my dedication to shooting.

                    | Over the years, I received numerous encouragements from fellow enthusiasts in the shooting community to share my knowledge and combat experience. Motivated by this support, I decided to establish my own company. My mission is to help individuals feel more comfortable and confident with pistol shooting, particularly for self-defense. Through my courses and training, I aim to provide valuable skills and insights that empower people to protect themselves effectively.
                .d-flex.justify-content-start.mt-5
                    h4.text-white Certifications:
                .d-flex.justify-content-start.mt-5
                    ul.list-unstyled
                        li.list-unstyled
                            h5.text-white 
                                | NRA Basic pistol instructor 
                        li.list-unstyled
                            h5.text-white 
                                | NRA CCW Instructor
                        li.list-unstyled
                            h5.text-white
                                | NRA Chief Range Safety Officer (CRSO)
                        