//- extends base

mixin navItem(href,name)
    li.mb-1
        a.text-reset.text-primary-hover(href=`${href}`)= name
        
block content
    footer.py-15.py-xl-20.bg-black.inverted.border-top
        .container
            .row.g-4.g-lg-5.mt-2.mb-10
                .col-md-3.text-center.text-md-start
                    a.navbar-brand(href='/')
                        img(src="./img/fulllogo.png", alt='Bird Dog Defense Logo')
                .col-md-4.col-lg-5.text-center.text-md-start
                    ul.list-unstyled
                        //- li.mb-1
                        //-     a.text-reset.text-primary-hover(href="#") Documentation
                        +navItem('#','Home')
                        +navItem('#','Classes')
                        +navItem('#','FAQS')
                        +navItem('#','Blog')
                    

                        
                .col-md-5.col-lg-4
                    .grouped-inputs.border.p-1.rounded-pill
                        .row
                            .col
                                input.form-control.rounded-pill.px-3(type='text' arial-label='Text input' placeholder="Your Email")
                            .col-auto
                                a.btn.btn-red.btn-icon.rounded-circle(href="#", style='background-color: #eb4f00;')
                                    i.bi.bi-arrow-return-left

            .row.align-items-center.g-1.g-lg-6.text-muted
                .col-md-6.col-lg-5.order-lg-2.text-center.text-md-start
                    ul.list-inline.small
                        li.list-inline-item
                        a.text-primary-hover(href='https://www.facebook.com/people/Birddog-Defense-LLC/61555498358263/?mibextid=LQQJ4d&rdid=4MTcS5MruvuZrcYz&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2Fu5LgnXYLBirMXHDu%2F%3Fmibextid%3DLQQJ4d' target="#")
                            i.text-white.bi.bi-facebook.fs-5
                        
                        li.list-inline-item
                        a(href='https://www.instagram.com/birddog_defense/?igsh=eG1hNndqeml2cmk3' target="#")
                            i.text-white.bi.bi-instagram.fs-5
                        
                .col-md-6.col-lg-4.text-center.text-md-end.order-lg-3
                    span.small New Braunfels, Texas USA
                .col-lg-3.order-lg-1.text-center.text-md-start
                    p.small Copyrights Bird Dog Defense &copy 2024 
                    