.modal-custom.hidden_all(style="border: dashed pink;")
  button.close-modal(style="border: dashed red;") &times;
  h5(style="border: dashed red;").d-flex.justify-content-center Join Bird Dog Defense.
  .row.d-flex.justify-content-center(style="border: dashed green;")
    //- Submitting from API endpoint
    .col.d-flex.justify-content-center
      form#formSignUp(style="border: dashed orange;")
        // Your sign up form fields here
        .mb-3
          label.d-flex.justify-content-center.fw-bolder Your Name
          input#name.form-control(type="name", name="name", placeholder="Name", required)
        .mb-3
          label.d-flex.justify-content-center.fw-bolder Your Phone Number
          input#phonenumber.form-control(type="phone", name="phonenumber", placeholder="Phone Number", required)
          
        .mt-3.mb-3
          p Enter your email address to create an account.
        .mb-3
          label.d-flex.justify-content-center.fw-bolder Your Email
          input#email.form-control(type="email", name="email", placeholder="Email", required)
          .form-text We'll never share your email with anyone else.
        .mb-3
          label.d-flex.justify-content-center.fw-bolder Password
          input#password.form-control(type="password", name="password", placeholder="**********", required)
        .mb-3
          label.d-flex.justify-content-center.fw-bolder Confirm Password
          input#passwordConfirm.form-control(type="password", name="confirmPassword", placeholder="**********", required)
          
        button.btn.btn-secondary.d-flex.justify-content-center(type="submit") Sign Up
    span.d-flex.justify-content-center.mt-4 Already have an account? 
      a(href="#") Sign In
      
.overlay.hidden_all

  
      //- form(action="#", method="POST" style="border: dashed orange;").col
      //-   // without API