section.spacing-top
    .container-fluid
        .row
            .col.col_left
               img.img-adjustment(src="/img/fulllogo.png", alt="Company logo")
            .col.col_right
                video.video_adjustment(autoplay='autoplay', loop='loop', muted='muted', playsinline='playsinline')
                    source(src="/video/bdd_index_video.mp4", type="video/mp4")
         
    