section.mt-2
    .container-fluid
        .ratio.ratio-16x9
            video( title='MP4 video' autoplay loop muted playsinline)
                 source(src='./img/video/landing_page_vid_01.mp4' type='video/mp4')



