section.py-20.bg-red.inverted.overflow-hidden
  .container.foreground
    .row.justify-content-center.mb-8
      .col-lg-8.text-center
        h2 Services Offered.
    .row.g-5.justify-content-center.justify-content-lg-between.align-items-center
      .col-lg-4.order-lg-1(data-aos='fade-right')
        ul.list-unstyled.text-center.text-lg-end.pe-lg-5
          li
            p.fs-lg.text-muted
              span.text-white Professional Service 1
              |                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto vel ullam amet explicabo non similique saepe, fugiat, doloribus libero alias veniam in maxime nulla animi aspernatur harum. Tempora, recusandae in!
          li.mt-5
            p.fs-lg.text-muted
              span.text-white Professional Service 2
              | 
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero animi tempore corporis veritatis! Cupiditate et reprehenderit vel sequi veritatis dolores corporis voluptatum distinctio, eaque placeat assumenda alias repudiandae, deserunt aperiam?
      .col-lg-4.order-lg-3(data-aos='fade-left')
        ul.list-unstyled.text-center.text-lg-start.ps-lg-5
          li
            p.fs-lg.text-muted
              span.text-white Professional Service 3
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum fuga sint asperiores tenetur molestiae voluptatum repellat, incidunt assumenda, cupiditate ipsum similique voluptatem, laudantium doloribus qui maxime cumque quod at laborum.
          li.mt-5
            p.fs-lg.text-muted
              span.text-white Professional Service 4
              | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima corporis cupiditate magni veritatis cum obcaecati ducimus, dolor tempore, maxime quos quo voluptatem, suscipit dolore? Omnis vero corporis dolorem temporibus laborum!
      .col-lg-4.order-lg-2
        .card.equal-2-1.equal-lg-1-1.overflow-visible
          .card-wrap
            img.img-fluid(src='#' alt='Image' data-aos='fade-up' data-aos-delay='100')
            img.position-absolute.top-100.start-50.translate-middle(src='#' alt='Image')
