section.border-top.inverted
  .container
    .row.m-5.justify-content-center
      .col-lg-10.d-flex.justify-content-center
        img(src="/img/fulllogo_320X256.png", alt="Company Icon")
    .row.m-5.d-flex.justify-content-center  
      .col-lg-10
        h3.font-weight-bold.mb-5.text-center.fst-italic.text-decoration-underline Texas License To Carry Course Services
        h4.mb-2.text-center Why Bird Dog defense?
        h5.font-weight-bold.mb-4.text-center
          | Our company stands as the foremost choice for concealed handgun training, distinguished by our unwavering commitment to safety, expertise, and personalized instruction. We prioritize safety above all else, ensuring each participant receives thorough, hands-on training in firearm handling, situational awareness, and legal considerations.
        h5.font-weight-bold.mb-4.text-center
          | Our instructors, seasoned professionals with extensive military backgrounds, impart invaluable knowledge and skills in a supportive environment. What truly sets us apart is our dedication to customization, tailoring our courses to meet the unique needs and skill levels of every participant.
        h5.font-weight-bold.mb-4.text-center
          | Whether you're a novice seeking to obtain your permit or a seasoned gun owner refining your technique, our company guarantees a comprehensive and empowering training experience that equips you to confidently and responsibly carry a concealed handgun.
        .d-flex.justify-content-center 
          .d-inline-flex.align-items-center.border.p-1.rounded-pill.pe-3
            a.btn.btn-red.text-white.btn-icon.rounded-pill.me-2(data-bp='{"ytSrc": "JFm7YDVlqnI"}', style='background-color: #eb4f00;')
              i.bi.bi-play-fill.fs-5
            span
              span.fw-bold Video
              |  &mdash; 25 seconds
      