section.py-20.border-top(style="background-color: #eb4f00")
  .container
    .row.align-items-center.justify-content-center.justify-content-lg-between
      .col-lg-6.col-xl-5.mb-5.mb-lg-0.inverted
        h2.mb-5
          | What is an LTC?
        h5
          | A License to Carry (LTC) is a permit issued by a government authority that allows an individual to legally carry a concealed or open firearm in public. The specific regulations and requirements for obtaining an LTC vary by jurisdiction.  The primary purpose of an LTC is to ensure that individuals who wish to carry a firearm are vetted and meet certain standards, such as background checks and training requirements, to promote safety and responsible gun ownership. The LTC aims to balance individual rights with public safety by regulating who can carry firearms and under what conditions.
        ul.list-group.list-group-minimal
          li.list-group-item.d-flex.align-items-center
            span.display-3.fw-bold.me-4.text-red.w-10 Steps:
          li.list-group-item.d-flex.align-items-center
            span.display-3.fw-bold.me-4.text-red.w-10 1.
            | Eligibility requirements
          li.list-group-item.d-flex.align-items-center
            span.display-3.fw-bold.me-4.text-red.w-10 2.
            | Complete the Required Training
          li.list-group-item.d-flex.align-items-center
            span.display-3.fw-bold.me-4.text-red.w-10 3.
            | Prepare Documentation
          li.list-group-item.d-flex.align-items-center
            span.display-3.fw-bold.me-4.text-red.w-10 4.
            | Submit An Application
          li.list-group-item.d-flex.align-items-center
            span.display-3.fw-bold.me-4.text-red.w-10 5.
            | Finger Printing
          li.list-group-item.d-flex.align-items-center
            span.display-3.fw-bold.me-4.text-red.w-10 6.
            | Background Check
          li.list-group-item.d-flex.align-items-center
            span.display-3.fw-bold.me-4.text-red.w-10 7.
            | Receive Your License
        button.btn.btn-dark.mt-3 FAQs
      .col-lg-5(data-aos='fade-up')
        a.card.card-arrow.bg-white.text-red-hover(href='')
          figure.media.equal-1-1
            span(style="background-image: url('/img/action_shots/Untitled.png')")
          .card-body
            h5.card-title
              | Take control of your safety and freedom—apply for your Texas License to Carry today and ensure you're prepared for any situation!






