section.py-15.py-xl-20.bg-black.inverted
  .container
    .row.justify-content-center.my-auto
      .col-lg-8.text-center
        h2.mb-5
          | Testiomonials
        .row.justify-content-center.g-1
          .col-auto
        

          //-   a.btn.btn-red.rounded-pill(href='')
          //-     img(src='#' alt='App Store')
          //- .col-auto
          //-   a.btn.btn-red.rounded-pill(href='')
          //-     img(src='#' alt='Google play')

