section.py-20.border-top.inverted
  .container
    .row.justify-content-center
      .col-lg-8
        blockquote.blockquote
          span.lh-1.fs-1.mb-0 &quot;
          p.fs-3.mb-4
            span.text-red An armed society is a polite society.
          footer.blockquote-footer
            span.d-block.lh-1.text-white Robert Heinlein
    .row.mt-4
      .col-md-4.mb-3
        img.img-fluid(src='https://via.placeholder.com/400' alt='Photo 1')
      .col-md-4.mb-3
        img.img-fluid(src='https://via.placeholder.com/400' alt='Photo 2')
      .col-md-4.mb-3
        img.img-fluid(src='https://via.placeholder.com/400' alt='Photo 3')
      .col-md-4.mb-3
        img.img-fluid(src='https://via.placeholder.com/400' alt='Photo 4')
      .col-md-4.mb-3
        img.img-fluid(src='https://via.placeholder.com/400' alt='Photo 4')
      .col-md-4.mb-3
        img.img-fluid(src='https://via.placeholder.com/400' alt='Photo 4')

