section.py-20
  .container
    .row.align-items-center.justify-content-center.justify-content-lg-between
      .col-lg-6.col-xl-5.mb-5.mb-lg-0.inverted
        h2.mb-5 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere fuga rem, adipisci esse nostrum odio nulla dolor dolore, cupiditate quam modi dignissimos. Tempora quod inventore, voluptatum perspiciatis possimus laborum provident?
        ul.list-group.list-group-minimal
          li.list-group-item.d-flex.align-items-center
            span.display-2.fw-bold.me-4.text-red.w-10 1.
            |                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            |                 eiusmod tempor incididunt
          li.list-group-item.d-flex.align-items-center
            span.display-2.fw-bold.me-4.text-red.w-10 2.
            |                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            |                 eiusmod tempor incididunt
          li.list-group-item.d-flex.align-items-center
            span.display-2.fw-bold.me-4.text-red.w-10 3.
            |                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            |                 eiusmod tempor incididunt
      .col-lg-5(data-aos='fade-up')
        a.card.card-arrow.bg-white.text-red-hover(href='')
          figure.media.equal-1-1
            span(style="background-image: url('#')")
          .card-body
            h5.card-title
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus vitae nemo similique repellendus aspernatur. Aliquid sit tempore, voluptate ducimus beatae iste deleniti, nemo modi ex reiciendis ab accusantium asperiores at!