section.py-20.border-top.inverted
  .container
    .row.justify-content-center
      .col-lg-8
        blockquote.blockquote
          span.lh-1.fs-1.mb-0 &quot;
          p.fs-3.mb-4
            span.text-red Professionalism, Quality, and Customer Satisfaction
            |  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, quos! Ducimus ipsum dolorem voluptatum optio quae nihil libero esse, illo fugit at corrupti voluptas exercitationem distinctio vel, porro veritatis. Est.
          footer.blockquote-footer
            span.d-block.lh-1.text-black Valerie Doe
            small John Smith