section.py-15.py-xl-20.bg-black.inverted.border-top
  .container
    .row.justify-content-center.my-auto
      .col-lg-12.text-center
        h2.mb-5
          | Reviews From Your Users 
        .row.g-1
            #carouselExampleAutoplaying.carousel.slide(data-bs-ride='carousel').mb-3
              .carousel-inner
                .carousel-item.active
                    .row.justify-content-evenly
                      .card.text-dark.m-3(style='width: 18rem; background-color: #f8f9fa; border-radius: 20px;')  
                        .card-body
                          h6.card-title.d-flex.justify-content-start John Smith
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          
                          p.card-text
                            | “I had a fantastic experience at BirdDog Defense! The service was top-notch!
                          a.card-link.text-body-tertiary.d-flex.justify-content-start(href='#') Read More
                      
                      .card.text-dark.m-3(style='width: 18rem; background-color: #f8f9fa; border-radius: 20px;')  
                        .card-body
                          h6.card-title.d-flex.justify-content-start John Smith
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          
                          p.card-text
                            | “I had a fantastic experience at BirdDog Defense! The service was top-notch!
                          a.card-link.text-body-tertiary.d-flex.justify-content-start(href='#') Read More
                      
                      .card.text-dark.m-3(style='width: 18rem; background-color: #f8f9fa; border-radius: 20px;')  
                        .card-body
                          h6.card-title.d-flex.justify-content-start John Smith
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          
                          p.card-text
                            | “I had a fantastic experience at BirdDog Defense! The service was top-notch!
                          a.card-link.text-body-tertiary.d-flex.justify-content-start(href='#') Read More
                  
                .carousel-item
                    .row.justify-content-evenly
                      .card.text-dark.m-3(style='width: 18rem; background-color: #f8f9fa; border-radius: 20px;')  
                        .card-body
                          h6.card-title.d-flex.justify-content-start John Smith
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          
                          p.card-text
                            | “I had a fantastic experience at BirdDog Defense! The service was top-notch!
                          a.card-link.text-body-tertiary.d-flex.justify-content-start(href='#') Read More
                      
                      .card.text-dark.m-3(style='width: 18rem; background-color: #f8f9fa; border-radius: 20px;')  
                        .card-body
                          h6.card-title.d-flex.justify-content-start John Smith
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          
                          p.card-text
                            | “I had a fantastic experience at BirdDog Defense! The service was top-notch!
                          a.card-link.text-body-tertiary.d-flex.justify-content-start(href='#') Read More

                      .card.text-dark.m-3(style='width: 18rem; background-color: #f8f9fa; border-radius: 20px;')  
                        .card-body
                          h6.card-title.d-flex.justify-content-start John Smith
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          
                          p.card-text
                            | “I had a fantastic experience at BirdDog Defense! The service was top-notch!
                          a.card-link.text-body-tertiary.d-flex.justify-content-start(href='#') Read More
                    

          

                  
              button.carousel-control-prev(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
              button.carousel-control-next(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next

            



      //-   a.btn.btn-red.rounded-pill(href='')
      //-     img(src='#' alt='App Store')
      //- .col-auto
      //-   a.btn.btn-red.rounded-pill(href='')
      //-     img(src='#' alt='Google play')

