section.py-20.mx-lg-3.inverted.overflow-hidden.bg-red
  .container
    .row.justify-content-center.justify-content-lg-between
      .col-lg-6.col-xl-5.text-white.order-lg-2.mb-5.mb-lg-0
        //- span.eyebrow.text-muted.mb-2 Skip the rental counter
        h2.mb-5
          | Discover the benefit&rsquo;s of obtaining a Texas LTC.
        ul.list-group.list-group-minimal
          li.list-group-item.d-flex.align-items-start
            .icon-box.bg-white.rounded-circle.me-2
              i.bi.bi-check2.text-black
            | Legal Authorization: Grants lawful permission to carry a firearm in specified locations.
          li.list-group-item.d-flex.align-items-start
            .icon-box.bg-white.rounded-circle.me-2
              i.bi.bi-check2.text-black
            | Compliance: Ensures adherence to state and federal regulations regarding firearm possession and use.
          li.list-group-item.d-flex.align-items-start
            .icon-box.bg-white.rounded-circle.me-2
              i.bi.bi-check2.text-black
            | Personal Protection: Provides individuals with a means to defend themselves in potential threats or emergencies.
          li.list-group-item.d-flex.align-items-start
            .icon-box.bg-white.rounded-circle.me-2
              i.bi.bi-check2.text-black
            | Training Requirements: Often necessitates completion of firearm safety and proficiency courses.
          li.list-group-item.d-flex.align-items-start
            .icon-box.bg-white.rounded-circle.me-2
              i.bi.bi-check2.text-black
            | Reciprocity Agreements: Allows for recognition of the license in other states that have reciprocity agreements.
          li.list-group-item.d-flex.align-items-start
            .icon-box.bg-white.rounded-circle.me-2
              i.bi.bi-check2.text-black
            | Renewal Process: Requires periodic renewal to ensure continued eligibility and compliance with updated regulations.
          li.list-group-item.d-flex.align-items-start
            .icon-box.bg-white.rounded-circle.me-2
              i.bi.bi-check2.text-black
            | Responsibilities: Imposes duties such as proper storage, handling, and carrying of firearms in accordance with the law.
          li.list-group-item.d-flex.align-items-start
            .icon-box.bg-white.rounded-circle.me-2
              i.bi.bi-check2.text-black
            | Background Check: Involves a background investigation to assess suitability for obtaining the license.
          .d-flex.justify-content-end
            button.btn.btn-red
              | Learn More
          
      .col-lg-5.order-lg-1(data-aos='fade-up')
        .card.equal-2-1.equal-lg-1-1.overflow-visible
          .card-wrap
            img.img-fluid.test(src='./img/action_shots/IMG_1681.jpg' alt='Image')