header
    .container.mt-2
        .row
            .col.d-flex.justify-content-end
                ul.list-inline.small
                    li.list-inline-item
                        a.text-primary-hover(href="tel:8176572040")
                            i.text-white.bi.bi-telephone-fill.fs-5
                    li.list-inline-item
                        a.text-primary-hover(href='https://www.facebook.com/people/Birddog-Defense-LLC/61555498358263/?mibextid=LQQJ4d&rdid=4MTcS5MruvuZrcYz&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2Fu5LgnXYLBirMXHDu%2F%3Fmibextid%3DLQQJ4d' target="#")
                            i.text-white.bi.bi-facebook.fs-5
                    li.list-inline-item
                        a(href='https://www.instagram.com/birddog_defense/?igsh=eG1hNndqeml2cmk3' target="#")
                            i.text-white.bi.bi-instagram.fs-5


