doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bird Dog Defense | Account Overview
        //-Main CSS
        link(rel="stylesheet", type='text/css' href="/scss/style.css")


    body(style="background-color: black;")
        //Header with Navbar
        include _nav

        include _classes
        

        footer
            //Footer with contact info
            include _footer




    script(src='/js/bundle.js')
    //- script(src='../../utilities/email.js' type='module')
    