extends layout

block title
    title BirdDog Defense | Home

block main
    include _section_01
    include _section_02
    include _section_03
    include _section_04
    include _section_05
    include _section_06
    include _section_07





